/*Add this static block to any custom category page above the HTML*/

        #custom-category .row {
            margin-bottom: 25px;
        }
        #custom-category .cta-parent img {
            position: relative;
        }
        #custom-category .cta-center,
        #custom-category .cta-left,
        #custom-category .cta-right {
            position: absolute; 
            top: 50%;
            padding: 1em;
        }

        #custom-category .cta-parent a,
        #custom-category .cta-parent p {
            font-size: 2rem;
            margin-bottom: 0;
        }
        #custom-category .cta-parent a {
            text-decoration: none;
        }
        #custom-category .dark-bg {
            background: rgba(0,0,0,0.6); 
        }
        #custom-category .dark-bg a {
            color: #fff; 
        }
        #custom-category .white-bg {
            background: rgba(255,255,255,0.9);
        }
        #custom-category .white-bg a {
            color: #333;
        }
        #custom-category .cta-left {
            left: 10%;                        
            transform: translate(-10%, -50%); 
            font-size: 2.3rem;
        }
        #custom-category .cta-right {
            right: 10%;                        
            transform: translate(-10%, -50%); 
            font-size: 2.3rem;
        }
        #custom-category .cta-center {
            left: 50%;
            transform: translate(-50%, -50%); 
            font-size: 2rem;
        }
        
        #custom-category p.center {
            font-size: 2rem;
        }
        .botm-logo img {
            margin-bottom: 1.8rem;
        }
        .cat-box {
            min-height: 280px;
            border: 10px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      