/*Add this static block to any custom category page above the HTML*/

#main-cat h3 {
    margin: 0;
    display: inline;
    font-size: 14px;
    font-weight: initial;
}

#main-cat h3.bold {
    font-weight: bold;
    font-size: 18px;
}

#main-cat .section-title {
    border-bottom: solid 1px #333;
    line-height: 30px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 25px;
    display: block;
    margin-left: 0;
    margin-top: 0;
}

#main-cat .row {
    margin-bottom: 3em;
}

#main-cat a {
    text-decoration: none;
    display: inline-block;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
}

#main-cat a:hover {
    text-decoration: underline;
}

#main-cat p.inline {
    display: inline;
}

#main-cat .qa-banner p {
    display: block;
    margin: 55px 0 0 20px;
    text-align: left;
}


.row.qa-banner {
    background: url(media/wysiwyg/categories/2018/beauty/beauty/beauty-category_08.jpg) no-repeat;
    min-height: 255px;
}

.qa-cta {
    float: right;
    margin: 10px 0 0 0;
}

.qa-cta img {
    margin: 5px 0 10px 0;
}

#main-cat .qa-cta a {
    color: #fff;
    display: block;
    text-align: center;
}

.product.details.product-item-details {
    text-align: center;
}

span.old-price, span.price-savings {
    display: none;
}


strong.product.name.product-item-name {
    min-height: 52px;
}

#main-cat .shop-by-title h2 {
    margin: 0;
}

#main-cat .shop-by-title h2 span {
    font-weight: 100;
}

.shop-by-slider {
    background: #f2f2f2;
    padding: 2% 3% 0 3%;
}

img.mdm-img {
    max-width: 75%;
    margin: 0 auto;
}

.col_three_fourth.col_last.shop-by-slider p {
    text-align: justify;
    margin: 15% 0 0 10%;
}

#main-cat .shop-by-slider a {
    color: #fff;
}

/**owl slide fix**/
.owl-slide {
    height: 300px;
    overflow: hidden;
}
.owl-carousel .owl-stage-outer {
    padding: 0;
}

.owl-theme .owl-dots {
    bottom: 0;
}

/**mobile styles**/
@media screen and (max-width: 768px) {

    /*master categories*/
    #main-cat {
        text-align: center;
        margin: 0 auto;
    }
    .qa-banner {
        display: none;
    }

    .fav-products {
        display: none;
    }

    /*sub categories*/
    /*hide content*/
    #main-cat.sub-cat {
        display: none;
    }

    /*global categories*/
    .catalog-category-view.page-layout-2columns-left .toolbar.toolbar-products {
        margin-bottom: 0;
    }
    /*display title*/
    .catalog-category-view .page-main .page-title-wrapper {
        display: block;
        margin: 0 auto;
    }
    .catalog-category-view .page-main .page-title-wrapper .page-title {
        margin-bottom: 0;
        text-align: center;
    }
    
    #main-cat .owl-slide {
        display: none;
    }

    #main-cat .row {
        text-align: center;
    }

    #main-cat .col-sm-6 {
        margin-bottom: 3em;
    }
}
